#sec1 {
  background-color: #5DADE2;
  margin-top: 10px;
  border: 3px solid #385d8a;
  text-align: center;

}

#sec2 {
  background-color: #FAD7A0;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec3 {
  background-color: #D0ECE7;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec4 {
  background-color: #F59FD3;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec5 {
  background-color:#76EA63;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec6 {
  background-color: #FA5E29;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec7 {
  background-color: #2192E3;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec8 {
  background-color: #2192E3;
  margin-top: 10px;
  border: 3px solid #385d8a;
}

#sec9 {
  background-color: #b3a2c7;
  margin-top: 10px;
  border: 3px solid #385d8a;
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}
