.P2{
  text-align: center;
}


.Q2{
  text-align: center;
  color: white;
}

.fig5{
  display: inline-block;
  position: relative;
  left: 250px;
}

.sec1{
  width: 900px;
  height: 100px;
  background-color: #5DADE2 ;
  border: solid  #154360 4px;

}
.sec2{
  width: 900px;
  height: 70px;
  background-color:#FAD7A0  ;
  border: solid  #154360   4px;
  position: relative;
  top: 10px;
}
.sec3{
  width: 180px;
  height: 140px;
  background-color: #D0ECE7 ;
  border: solid  #154360   4px;
  position: relative;
  top:15px;

}
.sec4{
  width: 180px;
  height: 140px;
  background-color: #F59FD3;
  border: solid  #154360   4px;
  position: relative;
  left: 225px;
  top:-132px;

}
.sec5{
  width: 180px;
  height: 140px;
  background-color: #76EA63;
  border: solid  #154360   4px;
  position: relative;
  left: 500px;
  top:-280px;

}
.sec6{
  width: 180px;
  height: 140px;
  background-color:#FA5E29;
  border: solid  #154360   4px;
  position: relative;
  left: 720px;
  top:-428px;

}
.sec7{
  width: 400px;
  height: 140px;
  background-color: #2192E3 ;
  border: solid  #154360   4px;
  position: relative;
  top:-400px;

}
.sec8{
  width: 400px;
  height: 140px;
  background-color: #2192E3;
  border: solid  #154360   4px;
  position: relative;
  top:-546px;
  left: 500PX;

}
.sec9{
  width: 900px;
  height: 100px;
  background-color: #6E53F2  ;
  border: solid  #154360 4px;
  position: relative;
  top: -520px;

}
